.cabecalho{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.menu__lista{
    display: flex;
    align-items: center;
}

.menu__item a{
    color:black;
}

.menu__item a:hover{
    color:black;
    font-weight: bold;
}